html,
body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100%;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h2 {
	font-size: 1.6rem;
	margin: 0;
	padding: 0;
}

h2 {
	font-size: 1rem;
	font-weight: 400;
}

#tooltip {
	margin-top: 3.8em;
	font-size: 0.8rem;
	visibility: hidden;
	width: auto;
	height: auto;
}

#canvas {
	min-height: 600px;
	min-width: 1200px;
}
