html,
body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100%;
}

svg {
	background-color: #f1f1f1;
}

#canvas {
	min-height: 600px;
	min-width: 1200px;
}
